/*------------------------------
Variables
------------------------------*/

:root {

	/* Black and White */

	--color-white: rgb(255, 255, 255); /* #ffffff */
	--color-black: rgb(0, 0, 0); /* #000000 */

	/* Grays */

	--color-gray-10: rgb(230, 230, 230); /* #e6e6e6 */
	--color-gray-20: rgb(203, 203, 203); /* #cbcbcb */
	--color-gray-30: rgb(180, 180, 180); /* #b4b4b4 */
	--color-gray-40: rgb(154, 154, 154); /* #9a9a9a */
	--color-gray-50: rgb(128, 128, 128); /* #808080 */
	--color-gray-60: rgb(101, 101, 101); /* #656565 */
	--color-gray-70: rgb(77, 77, 77); /* #4d4d4d */
	--color-gray-80: rgb(33, 33, 33); /* #333333 */
	--color-gray-90: rgb(25, 25, 25); /* #191919 */

	/* Branding */

	--color-branding-primary: rgb(237, 26, 57); /* #ed1a39 */
	--color-branding-secondary: rgb(84, 77, 91); /* #544d5b */

}
